1. Importing libraries
2. Importing dataframes
3. Merging dataframes df_ord_prod_combined and df_prods
4. Exporting dataframe in pickle format

1. Importing Libraries

In [12]:
import pandas as pd
import numpy as np
import os
import pickle

2. Importing Dataframes

In [6]:
path = r'C:/Users/Alejandra/Documents/CF/Data Immersion/Achievement 4/06022025_Instacart Basket Analysis'

In [29]:
#Loading pickle file
df_ord_prod_combined = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [23]:
df_ord_prod_combined

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,both

In [25]:
df_ord_prod_combined.shape

(32434489, 14)

In [27]:
df_ord_prod_combined['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

3. Merging dataframes df_ord_prod_combined and df_prods

In [44]:
#Loading df_prods
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

In [46]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [56]:
#Test merge without overwrite
pd.merge(df_ord_prod_combined, df_prods, on = ['product_id'])

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,both,195,Soda,77,7,9.0
1,0,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,0,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
3,0,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
4,0,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,both,14197,Tomato Paste,9,9,5.6
32404855,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,both,38734,Brownie Crunch High Protein Bar,3,19,5.9
32404856,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,both,31479,High Protein Bar Chunky Peanut Butter,3,19,4.2
32404857,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,both,6567,Chocolate Peanut Butter Protein Bar,3,19,4.9
32404858,3421081,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,both,22921,Roasted & Salted Shelled Pistachios,117,19,1.7

In [76]:
#Dropping unnecessary columns 'Unnamed: 0', '_merge' from exercise in reading section. 
#Note, this command throws an error because I tried to rerun it with an extra column to drop after it had already dropped 'Unnamed'
df_ord_prod_combined= df_ord_prod_combined.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [70]:
df_ord_prod_combined

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,both

In [72]:
df_ord_prod_combined = df_ord_prod_combined.drop(columns=['_merge'])

In [74]:
df_ord_prod_combined

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1
32434485,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0
32434486,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0
32434487,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0
32434488,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0

In [64]:
df_prods = df_prods.drop(columns=['Unnamed: 0'])

In [66]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [78]:
df_ords_prods_merge = df_ord_prod_combined.merge(df_prods, on = 'product_id', indicator = True)

In [80]:
df_ords_prods_merge

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [82]:
df_ords_prods_merge.shape
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

4. Exporting dataframe in pickle format

In [86]:
#Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02_Data','Prepared Data', 'orders_products_merged.pkl'))