1. Importing libraries
2. Importing dataframes
3. Grouping data
4. Aggregating data

1. Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os
import pickle

2. Importing dataframes

In [5]:
path = r'C:/Users/Alejandra/Documents/CF/Data Immersion/Achievement 4/06022025_Instacart Basket Analysis'

In [7]:
#Loading pickle file
ords_prods_merged = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged_4.7.pkl'))

In [9]:
df = ords_prods_merged[:1000000]

In [11]:
df.shape

(1000000, 21)

In [15]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,...,0,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Regular days,Regularly busy
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,...,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product,Regular days,Regularly busy
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,...,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Regular days,Regularly busy
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,...,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Regular days,Regularly busy
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,...,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product,Regular days,Regularly busy
5,2398795,1,prior,2,3,7,15.0,False,15.0,196,...,1,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
6,2398795,1,prior,2,3,7,15.0,False,15.0,10258,...,0,Pistachios,117,19,3.0,both,Regularly busy,Low-range product,Slowest days,Regularly busy
7,2398795,1,prior,2,3,7,15.0,False,15.0,12427,...,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Slowest days,Regularly busy
8,2398795,1,prior,2,3,7,15.0,False,15.0,13176,...,0,Bag of Organic Bananas,24,4,10.3,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
9,2398795,1,prior,2,3,7,15.0,False,15.0,26088,...,1,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Slowest days,Regularly busy

In [17]:
df.tail(10)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day
999990,2789027,6474,prior,2,3,8,30.0,False,30.0,39760,...,1,Pudding Snacks Chocolate Vanilla Swirls Fat Free,71,16,1.1,both,Regularly busy,Low-range product,Slowest days,Regularly busy
999991,2789027,6474,prior,2,3,8,30.0,False,30.0,16797,...,1,Strawberries,24,4,1.3,both,Regularly busy,Low-range product,Slowest days,Regularly busy
999992,2789027,6474,prior,2,3,8,30.0,False,30.0,32315,...,0,Multi-Grain English Muffins,93,3,1.3,both,Regularly busy,Low-range product,Slowest days,Regularly busy
999993,2789027,6474,prior,2,3,8,30.0,False,30.0,24852,...,0,Banana,24,4,12.3,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
999994,2789027,6474,prior,2,3,8,30.0,False,30.0,20119,...,1,Sparkling Water Berry,115,7,13.4,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
999995,2789027,6474,prior,2,3,8,30.0,False,30.0,3020,...,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
999996,2789027,6474,prior,2,3,8,30.0,False,30.0,35823,...,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
999997,2789027,6474,prior,2,3,8,30.0,False,30.0,27681,...,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Regularly busy,Low-range product,Slowest days,Regularly busy
999998,2789027,6474,prior,2,3,8,30.0,False,30.0,2091,...,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Regularly busy,Mid-range product,Slowest days,Regularly busy
999999,2789027,6474,prior,2,3,8,30.0,False,30.0,44199,...,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Regularly busy,Low-range product,Slowest days,Regularly busy

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1000000 non-null  int64
 1   user_id                 1000000 non-null  int64
 2   eval_set                1000000 non-null  object
 3   order_number            1000000 non-null  int64
 4   order_day_of_week       1000000 non-null  int64
 5   order_hour_of_day       1000000 non-null  int64
 6   days_since_prior_order  936384 non-null   float64
 7   days_prior_order_NaN    1000000 non-null  bool
 8   days_prior_order_clean  1000000 non-null  float64
 9   product_id              1000000 non-null  int64
 10  add_to_cart_order       1000000 non-null  int64
 11  reordered               1000000 non-null  int64
 12  product_name            1000000 non-null  object
 13  aisle_id                1000000 non-null  int64
 14  department_id           1000000 non-null  int64
 15  prices                  1000000 non-null  float64
 16  _merge                  1000000 non-null  category
 17  busiest_day             1000000 non-null  object
 18  price_range             1000000 non-null  object
 19  busiest_days            1000000 non-null  object
 20  busiest_period_of_day   1000000 non-null  object
dtypes: bool(1), category(1), float64(3), int64(10), object(6)
memory usage: 146.9+ MB

In [21]:
df.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_clean,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,936384.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.712098e+06,3295.070459,17.313612,2.765702,13.416690,11.062006,10.358285,25595.891283,8.312942,0.590985,71.058417,9.984846,11.396794
std,9.870102e+05,1866.882221,17.931306,2.091348,4.221497,8.811708,8.944049,14077.246950,7.208310,0.491652,38.228388,6.294836,425.994349
min,8.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,8.620670e+05,1699.000000,5.000000,1.000000,10.000000,5.000000,4.000000,13536.000000,3.000000,0.000000,31.000000,4.000000,4.200000
50%,1.711365e+06,3350.000000,11.000000,3.000000,13.000000,8.000000,7.000000,25340.000000,6.000000,1.000000,83.000000,9.000000,7.400000
75%,2.563843e+06,4937.000000,24.000000,5.000000,16.000000,15.000000,14.000000,37825.000000,11.000000,1.000000,107.000000,16.000000,11.300000
max,3.420853e+06,6474.000000,99.000000,6.000000,23.000000,30.000000,30.000000,49687.000000,95.000000,1.000000,134.000000,21.000000,99999.000000

3. Grouping data

In [24]:
df.groupby('product_name')

4. Aggregating data

Single aggregation

In [28]:
#Single aggregation to calculate mean of 'order_number' by 'department_id'
df.groupby('department_id').agg({'order_number': ['mean']})
#here groupby is being assigned to df, this creates a pandas object for dept._id, agg() is applied onto 
#this object and will return the mean of the column

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [30]:
#Some aggregations can be done without the agg() function.
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [32]:
#Alternative notation: dot notation
df.groupby('department_id').order_number.mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [34]:
#Reasons why not to use dot notation: 1) Visuals: Square brackets are easier to see. 2) Default roles: Square brackets do not have another role other than indexing, but dots do (applying panda functions for example)

Multiple aggregations

In [37]:
#Calculation mean, min, and max
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

Aggregating data with transform()

In [40]:
#transform() creates a new column containing the maximum frequency of the 'order_nummber' column and then, using loc(), it creates a second column containing a flag

In [42]:
#Criteria: 
#If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
#If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
#If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [44]:
#Steps: 
#1. Split the data into groups based on the “user_id” column. (groupby)
#2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user. (transform)
#3. Create a new column, “max_order,” into which you’ll place the results of your aggregation. (loc)

In [46]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Alejandra\AppData\Local\Temp\ipykernel_20816\3299225553.py:1: FutureWarning: The provided callable <function max at 0x000002624A10E7A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [47]:
#Operation check
ords_prods_merged.head(10)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,...,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,...,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
5,2398795,1,prior,2,3,7,15.0,False,15.0,196,...,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Slowest days,Regularly busy,10
6,2398795,1,prior,2,3,7,15.0,False,15.0,10258,...,Pistachios,117,19,3.0,both,Regularly busy,Low-range product,Slowest days,Regularly busy,10
7,2398795,1,prior,2,3,7,15.0,False,15.0,12427,...,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Slowest days,Regularly busy,10
8,2398795,1,prior,2,3,7,15.0,False,15.0,13176,...,Bag of Organic Bananas,24,4,10.3,both,Regularly busy,Mid-range product,Slowest days,Regularly busy,10
9,2398795,1,prior,2,3,7,15.0,False,15.0,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Slowest days,Regularly busy,10

In [50]:
#Alternate check: first 100 records
ords_prods_merged.head(100)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,...,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,...,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product,Regular days,Regularly busy,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.0,False,8.0,21150,...,Fire Grilled Steak Bowl,38,1,5.9,both,Regularly busy,Mid-range product,Regular days,Most orders,14
96,1673511,2,prior,5,3,11,8.0,False,8.0,47144,...,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Regularly busy,Mid-range product,Slowest days,Most orders,14
97,1673511,2,prior,5,3,11,8.0,False,8.0,5322,...,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Regularly busy,Low-range product,Slowest days,Most orders,14
98,1673511,2,prior,5,3,11,8.0,False,8.0,17224,...,Oats & Honey Gluten Free Granola,3,19,1.6,both,Regularly busy,Low-range product,Slowest days,Most orders,14
99,1673511,2,prior,5,3,11,8.0,False,8.0,38656,...,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Regularly busy,Low-range product,Slowest days,Most orders,14

In [52]:
#Jupyter normally prevents all records from showing ('...' break), to override: 
#pd.options.display.max_rows= None

In [54]:
#Deriving columns with loc()
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [56]:
ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [60]:
ords_prods_merged.head(100)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,...,77,7,9.0,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10,New customer
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,...,91,16,12.5,both,Regularly busy,Mid-range product,Regular days,Regularly busy,10,New customer
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,...,23,19,4.4,both,Regularly busy,Low-range product,Regular days,Regularly busy,10,New customer
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,...,23,19,4.7,both,Regularly busy,Low-range product,Regular days,Regularly busy,10,New customer
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,...,54,17,1.0,both,Regularly busy,Low-range product,Regular days,Regularly busy,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.0,False,8.0,21150,...,38,1,5.9,both,Regularly busy,Mid-range product,Regular days,Most orders,14,Regular customer
96,1673511,2,prior,5,3,11,8.0,False,8.0,47144,...,91,16,14.0,both,Regularly busy,Mid-range product,Slowest days,Most orders,14,Regular customer
97,1673511,2,prior,5,3,11,8.0,False,8.0,5322,...,3,19,2.9,both,Regularly busy,Low-range product,Slowest days,Most orders,14,Regular customer
98,1673511,2,prior,5,3,11,8.0,False,8.0,17224,...,3,19,1.6,both,Regularly busy,Low-range product,Slowest days,Most orders,14,Regular customer
99,1673511,2,prior,5,3,11,8.0,False,8.0,38656,...,3,19,3.4,both,Regularly busy,Low-range product,Slowest days,Most orders,14,Regular customer

In [64]:
ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [66]:
#Checking output
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(100)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
..      ...               ...           ...
95        2  Regular customer             4
96        2  Regular customer             5
97        2  Regular customer             5
98        2  Regular customer             5
99        2  Regular customer             5

[100 rows x 3 columns]